{% import 'appbuilder/baselib.html' as baselib with context %}
{% extends 'appbuilder/baselayout.html' %}


{% block head_css %}
{{ super() }}
<link href="{{url_for('static',filename='vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/iCheck/skins/flat/green.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/jqvmap/dist/jqvmap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='vendors/bootstrap-daterangepicker/daterangepicker.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='build/css/custom.min.css')}}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <h1 class="error-number">404</h1>
        <h2>Sorry but we couldn't find this page, Have you tried Going back to the Home url?</h2>
        <p>This page you are looking for does not exist
        </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


